extends ../layouts/adminlayout.pug
block body 
 .main-panel
  .content-wrapper
    .page-header
    .row
       .col-md-12.grid-margin.stretch-card
         .card
            .card-body
                h4.card-title Add League
                form.forms-sample(method='POST' action='/admin/addpost' enctype='multipart/form-data')
                    .form-group
                        label(for='exampleInputUsername1') Name
                        input#exampleInputUsername1.form-control(type='text' placeholder='name' name='name' required='')
                    .form-group
                        label(for='exampleInputUsername1') ImgUrl
                        input#team_logo.form-control( type='file'   name="File" multiple='' required='' placeholder='If you do not upload a logo, team logo will set by default.')
                    .form-group
                      label(for='exampleFormControlTextarea1') Example textarea
                      textarea#exampleFormControlTextarea1.form-control(rows='3' type='text' placeholder='Paragraf' name='Paragraf' required='')
                    button.btn.btn-primary.mr-2(type='submit') Submit

       .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title League List
            p.card-description
              | Add class 
              code .table
            .table-responsive
              table#datatable.table
                thead
                  tr
                    th Name
                    th ImgUrl
                    th Edit
                tbody
                 each item in post
                  tr
                    td #{item.name}
                    td #{item.ImgUrl}
                    td
                       a.btn.btn-primary(href=`/admin/editpost/${item._id}`) Edit

  footer.footer
    .d-sm-flex.justify-content-center.justify-content-sm-between
      span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block Copyright &copy; bootstrapdash.com 2020
      span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
        | Free 
        a(href='https://www.bootstrapdash.com/bootstrap-admin-template/' target='_blank') Bootstrap admin templates
        |  from Bootstrapdash.com
  // partial

block script 
 script.
  console.log($('.table-responsive'))
  $(document).ready(function() {
    $('#datatable').DataTable( {
        "pagingType": "full_numbers"
    } );
  } );
  $( "#Match" ).click(function() {
      console.log($('#team1').val())
      if($('#team1').val() === $('#team2').val())
      {alert( "2 Eyni kamanda oynaya bilmez" );}
      else{
          window.location.href = `/admin/startmatch?Team1Id=${$('#team1').val()}&Team2Id=${$('#team2').val()}`
      }
    });
